.donor-title {
    text-align: center;
}

.category-title {
    font-weight: bold;
    text-align: center;
}

.label-title {
    margin: 8px 0 0 0;
}

.answer-title {
    margin: 0 0 0 10px;
}

.category-block {
    margin: 5px 0;
}