<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Test AngularJS Address Book</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">

  <link href="bower_components/paper-input/paper-input.html" rel="import">
  <link href="bower_components/vaadin-grid/vaadin-grid.html" rel="import">
  <link href="bower_components/paper-button/paper-button.html" rel="import">
  <link href="bower_components/vaadin-upload/vaadin-upload.html" rel="import">
  <link href="bower_components/paper-toast/paper-toast.html" rel="import">

  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div ng-controller="AppController">
  <paper-toast id="errorToast"></paper-toast>
  <table width="100%">
    <tr width="100%">
      <td width="50%"><paper-input id="nameInput" label="Name" value="{{selectedItem.name}}"></paper-input></td>
      <td width="50%"><paper-input id="addressInput" label="Address" value="{{selectedItem.address}}"></paper-input></td>
    </tr>
  </table>
  <table width="100%">
    <tr width="100%">
      <td width="95%"  height="130"><vaadin-upload
              id="uploadFile"
              target="../api/upload"
              max-files="1"
              accept=".jpg,.jpeg,.gif,.png"
              max-file-size="1000000">
      </vaadin-upload></td>
      <td>
        <table>
          <tr height="5"><td></td></tr>
          <tr>
            <td><paper-button raised ng-click="saveItem()"><div ng-show="selectedItem.name==''">Add</div><div ng-show="selectedItem.name!=''">Update</div></paper-button></td>
          </tr>
          <tr>
            <td><div ng-show="selectedItem.name!=''"><paper-button raised ng-click="deleteItem()">Delete</paper-button></div></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <vaadin-grid id="grid">
    <table>
      <colgroup>
        <col name="name"/>
        <col name="address"/>
        <col name="image"/>
      </colgroup>
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Image</th>
      </tr>
      </thead>
    </table>
  </vaadin-grid>
</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
